*, *::before, *::after {
    box-sizing: border-box;
}


.affairsWrapper {
    border-radius: 5px;
    width: 250px;
    background-color: bisque;
    margin-left: 5px;
}

.affairsWrapper h3 {
    text-align: center;
}

.affair {
    display: flex;
    flex-direction: row;
}

.affair .affairItem {
    margin-bottom: 1px;
    width: 80px;

}

.affairItem {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.button {
    width: 60px;
}



.button:focus {
    background-color: darkseagreen;
    border-color: darkseagreen;
}