.superInput {
    display: inline-block;
    border-radius: 2px;
    border: 2px solid gray;
}

.superInput:focus {
    border-color: darkseagreen;
    outline: none;
}

.errorInput {
    border: 2px solid red;
    background: rgba(255, 0, 0, .3);
}

.errorInput::placeholder {
    color: transparent;
}

.errorInput:focus {
    border: 2px solid red;
    background: rgba(255, 0, 0, .3);
    outline: none;
}

.error {
    color: red;

}

