.default {
    border-radius: 2px;
    border: 2px solid grey;
    background-color: white;
}

.default:hover {
    border-color: darkseagreen;
    background-color: darkseagreen;
    cursor: pointer;
    color: white;
}

.default:active {
    background-color: white;
    border: 2px solid darkseagreen;
    color: darkseagreen;
}

.default:disabled {
    background-color: red;
    border: 2px solid red;
    color: white;
    opacity: 0.4;
}

.red {
    background-color: red;
    border: 2px solid red;
    color: white;
}

.red:hover {
    background-color: white;
    color: red;
    border-color: red;
}

.red:active {
    background-color: red;
    color: white;
    border-color: red;
}

