.greeting {
    display: flex;
    align-items: flex-start;
}

.inputClass {
    border-radius: 2px;
    margin-left: 5px;
    border: 2px solid gray;
    outline: none;


}

.inputClass::placeholder {
    color: gray;
    font-size: small;
    opacity: 0.4;
}

.inputClass:focus {
    border-radius: 2px;
    border-color: darkseagreen;
    outline: none;

}

.button {
    border-radius: 2px;
    margin-left: 2px;
    border: 2px solid grey;
    background-color: white;
}

.button:active {
    background-color: white;
    border: 3px solid darkseagreen;
    color: darkseagreen;
}

button:hover {
    border-color: darkseagreen;
    background-color: darkseagreen;
    cursor: pointer;
    color: white;
}

.button:disabled {
    background-color: red;
    border: 3px solid red;
    color: white;
    opacity: 0.4;
}

.inputError:focus {
    border: 3px solid red;
    outline: none;

}

.buttonError {
    background-color: red;
    border-color: red;
    color: white;
}


.totalCount {
    margin-left: 5px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
}